# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
src/logs/*.log
!src/logs/.gitkeep

# Storage / Downloads
src/public/downloads/*
!src/public/downloads/.gitkeep

# Runtime Data
src/data/*.json
!src/data/.gitkeep

# System files
.DS_Store
Thumbs.db
